
/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
 
 /* responsive font-sizes */
 --fs-1: clamp(1.25rem, calc(1.5vw + 1.25rem), 2.485rem);
  --fs-2: clamp(1.125rem, calc(0.9vw + 1.125rem), 2.005rem);
  --fs-3: clamp(1rem, calc(0.6vw + 1rem), 1.995rem);
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;
  
 --display-1: clamp(1.625rem, calc(4.5vw + 1.625rem), 5rem);
 --display-2: clamp(1.575rem, calc(3.9vw + 1.575rem), 4.5rem);
 --display-3: clamp(1.525rem, calc(3.3vw + 1.525rem), 4rem);
 --display-4: clamp(1.475rem, calc(2.7vw + 1.475rem), 3.5rem);
 --display-5: clamp(1.425rem, calc(2.1vw + 1.425rem), 3rem);
 --display-6: clamp(1.375rem, calc(1.5vw + 1.375rem), 2rem);
}

/* large screen font-sizes */

@media (min-width: 1200px) {
 .display-1 {
     font-size:5rem;
 }
 .display-2 {
     font-size:4.5rem;
 }
 .display-3 {
     font-size:4rem;
 }
 .display-4 {
     font-size:3.5rem;
 }
 .display-5 {
     font-size:3rem;
 }
 .display-6 {
     font-size:2.5rem;
 }

 /* colors */

 /* chnage here */
}


/* responsive font-class */

.fs-1 {
 font-size: var(--fs-1) !important;
}

.fs-2 {
 font-size: var(--fs-2) !important;
}

.fs-3 {
 font-size: var(--fs-3) !important;
}

.fs-4 {
 font-size: var(--fs-4) !important;
}

.fs-5 {
 font-size: var(--fs-5) !important;
}

.fs-6 {
 font-size: var(--fs-6) !important;
}

.display-1 {
 font-size: var(--display-1);
}

.display-2 {
 font-size: var(--display-2);
}

.display-3 {
 font-size: var(--display-3);
}

.display-4 {
 font-size: var(--display-4);
}

.display-5 {
 font-size: var(--display-5);
}

.display-6 {
 font-size: var(--display-6);
}

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* carousel */


.carousel-indicators [data-bs-target] {
    width: 1em;
    height: 1em;
    border-radius: 50%;
   }

/* services  */


.card--service {
    box-shadow: rgba(93, 0, 164, 0.4) 0px 8px 16px;
}

.card--service:hover {
    transform: scale(1.025);
    box-shadow: rgba(93, 0, 164, 0.4) 0px 16px 48px;
}

.card--service:hover .serviceEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background:#371877;
    opacity: .8;
    animation: popBackground 0.3s ease-in
}

.servicesHidden {
    opacity: 0;
}

.servicesHidden:hover {
    opacity: 1;
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}


/* About */

.card--about {
    box-shadow: rgba(112, 112, 112, 0.4) 0px 8px 16px;
}

.card--about:hover {
    transform: scale(1.025);
    box-shadow: rgba(112, 112, 112, 0.4) 0px 16px 48px;
}

.card--about:hover .aboutEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background:#8408f0;
    opacity: .9;
    animation: popBackground 0.3s ease-in
}

.aboutHidden {
    opacity: 0;
}

.aboutHidden:hover {
    opacity: 1;
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%
    }
}



/* icons */

.hoverMediaIcon {
    transition: color 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.hoverMediaIcon:hover {
    background-color: black;
    border-color: #000000;
    color:#E4C2FF;
    transform: scale(1.1);

}

.hoverIconSmall {
    transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hoverIconSmall:hover {
    color: #000000 !important;
    transform: scale(1.5)!important;
}



    

    