// custom colors
/* CSS HEX */
// --purple-heart: #6f23c9;
// --snuff: #e5ddec;
// --manatee: #9c9c9e;
// --woodsmoke: #080809;
// --salt-box: #6e6971;
// --voodoo: #4b3958;
// --thunder: #3b3a3b;
// --heliotrope: #b47cf9;
// --fuscous-gray: #4b4c44;

$glass-effect: hsla(0, 0%, 0%, 0.7);

.glass-effect {
  background-color: $glass-effect;
}

#glass {
  background-color: green;
}

//custom margin
$my-80: (
  y: (
    margin-top: $spacer * 5,
    margin-bottom: $spacer * 5
  )
);

@mixin make-margin($margin) {
  @each $prop, $value in $margin {
    #{$prop}: $value !important;
  }
}

@each $key, $value in $my-80 {
  .m#{$key}-80 {
    @include make-margin($value);
  }
}